<div id="content" class="col-xs-10 col-xs-offset-1">

	<header id="header" class="col-lg-12">
	  <h1>
		{{ title }}
	  </h1>
	</header>
  
	<nav id="nav" class="col-lg-12">
	  <ul>
		<li>
		  <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
		</li>
		<li>
		  <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Crear Contacto</a>
		</li>
	  </ul>
	</nav>
  
	<section id="main" class="col-lg-12">
	  <!-- Componente Actual -->
	  <h3>
		<!-- <app-home></app-home> -->
		<router-outlet></router-outlet>
	  </h3>
	</section>
  
	<footer id="footer" class="col-lg-12">
	  <p>Giovanni Martínez García</p>
	</footer>
  </div>