#content {
  border: 1px solid #eee;
  margin-top: 30px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 2px 5px #ccc;
  padding: 0px;
  overflow: hidden;
}

#header {
  background: #E03137;
  color: white;
  margin: 0px;
  height: 90px;
  line-height: 90px;
}

#header h1 {
  display: block;
  line-height: 50px;
  font-weight: bold;
  font-size: 30px;
}

#nav {
  padding: 0px;
  margin: 0px;
  background: rgba(224, 49, 55, 0.67);
  height: 30px;
}

#nav ul {
  margin: 0px;
  list-style: none;
  padding-left: 20px;
}

#nav ul li {
  float: left;
  margin-right: 20px;
}

#nav ul li a {
  display: block;
  color: white;
  height: 30px;
  line-height: 29px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 300ms;
}

#nav ul li a:hover {
  text-decoration: none;
  background: #E03137;
}

#footer {
  margin-top: 50px;
  padding-top: 15px;
  border-top: 1px solid #EEE;
  color: gray;
}

#main .jumbotron {
  padding: 50px;
  margin-top: 30px;
  border-radius: 5px;
}

.activado {
  text-decoration: none !important;
  border-bottom: 2px solid yellow !important;
}

#form-contacto label {
  margin-top: 10px;
  font-size: 15px;
}

.phone {
  margin-left: 20px;
}

.top {
  margin-top: 10px;
  float: right;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  background-color: transparent;
  display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: whitesmoke;
}

.inputfile+label {
  cursor: pointer;
  /* "hand" cursor */
}

.inputfile:focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
