<h3>{{ titulo }}</h3>
<hr>

<form #formContacto="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6 col-lg-offset-3" id="form-contacto">
  <div class="row">
    <div class="col-xs-12">
      <label>
        Company Name
        <span *ngIf="!company.valid && company.touched" class="label label-danger">El nombre de la compania es obligatorio</span>
      </label>
      <input type="text" #company="ngModel" name="company" [(ngModel)]="contact.company" class="form-control" required>
    </div>
    <div class="col-xs-12">
      <label>
        E-mail Address
        <span *ngIf="!emailAddress.valid && emailAddress.touched" class="label label-danger">Introduzca un e-mail valido</span>
      </label>
      <input type="text" #emailAddress="ngModel" name="emailAddress" [(ngModel)]="contact.emailAddress" class="form-control" required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="name@example.com">
    </div>
    <div class="col-xs-12">
      <label>
        Name
        <span *ngIf="!name.valid && name.touched" class="label label-danger">El nombre es obligatorio</span>
      </label>
      <input type="text" #name="ngModel" name="name" [(ngModel)]="contact.name" class="form-control" required pattern="[a-zA-Z]+">
    </div>
    <div class="col-xs-12">
      <label>
        Last Name
        <span *ngIf="!lastName.valid && lastName.touched" class="label label-danger">El apellido es obligatorio</span>
      </label>
      <input type="text" #lastName="ngModel" name="lastName" [(ngModel)]="contact.lastName" class="form-control" required pattern="[a-zA-Z]+">
    </div>

    <div class="col-lg-9">
      <label>Country</label>
      <select #country="ngModel" name="country" [(ngModel)]="country.name" class="form-control">
        <option *ngFor="let paises of pais" [ngValue]="paises.Name" class="form-control">
          {{ paises.Name }}
        </option>
      </select>
    </div>
    <div class="col-lg-3">
      <label>Code</label>
      <div class="input-group">
        <div class="input-group-addon">+</div>
        <input #code="ngModel" name="code" [(ngModel)]="country.Code" class="form-control" value="{{country.code}}" disabled/>
      </div>
    </div>
    <div class="col-xs-12">
      <label>Phone Number</label>
      <input type="number" #phone="ngModel" name="phone" [(ngModel)]="phone.number" class="form-control">
    </div>
    <div class="col-xs-12">
      <label for="">Photo</label>
      <br>
      <input type="file" name="file" id="file" class="form-control-file inputfile border">
      <label for="file">Sube tu imagen</label>
    </div>
    <div class="col-xs-12">
      <input type="submit" value="{{titulo}}" [disabled]="!formContacto.form.valid" class="btn btn-info top">
    </div>
  </div>
</form>
