<div class="col-lg-10 col-lg-offset-1">
    <div class="jumbotron">
        <h2>
            {{ titulo }}
        </h2>
        <p>
            La página que intentas cargar no existe, prueba con estos botones:
        </p>
        <p>
            <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
            <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Crear Contacto</a>
        </p>
    </div>
</div>