<div class="col-lg-10 col-lg-offset-1">
    <div class="jumbotron">
        <h2>
            {{ titulo }}
        </h2>
        <p>
            Este es el test para BanLinea.
        </p>
        <p>
            Crear una aplicación que almacene contactos.
        </p>
        <p>
            Se utilizo Angular, Bootstrap, Jquery, AJAX o AJAJ (JSon)
        </p>
    </div>
</div>